body {
  margin: 0;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Optional: Hide horizontal scrollbar if content overflows */
}


header {
  background-color: #e87500;
  padding: 0.5em;
}


/* CSS Animation for Tagline */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flex-container {
  display: flex;
  height: fit-content;
  max-height: 500px;
}

.welcome-image {
  width: 50%;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 2s forwards; /* Fade-in animation with 2s duration */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


df-messenger {
    position: relative;
    bottom: 5;
    right: 0;
    width: 750px; /* Set a fixed width for the chatbot */
    height: 480px; /* Set a fixed height for the chatbot */
    overflow-y: auto; /* Enable vertical scrolling if the content overflows vertically */
    overflow-x: hidden; /* Hide horizontal scrollbar if content overflows horizontally */
    --df-messenger-titlebar-background: #5fe0b7; 
    --df-messenger-message-bot-background: #5fe0b7;
    --df-messenger-message-user-background: #a3a2a0;
    --df-messenger-font-family: "Urbanist", sans-serif;
    --df-messenger-titlebar-title-align: center;
    --df-messenger-titlebar-title-font-weight: 1000;
    --df-messenger-chat-background: #ffffff;
    --df-messenger-send-icon-color-hover: #5fe0b7;
    --df-messenger-send-icon-color-active: #0c452f;
}

/* Typing Animation for Header */
@keyframes typing {
  0% {
    width: 0;
    margin-left: 50%; /* Start typing from the center of the container */
    transform: translateX(-50%); /* Center the text horizontally */
  }
  100% {
    width: 100%;
    margin-left: 0;
    transform: translateX(0);
  }
}

.heading {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  position: relative;
  width: 100%;
  animation: typing 4s steps(70) forwards, blink 0.5s infinite step-end;
}

/* Optional: Add a blinking cursor animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.heading::after {
  border-right: 3px solid #000;
  margin-left: 5px;
  position: absolute;
  bottom: 0;
}

.heading {
  font-size: 36px;
  font-weight: 900;
}

.tagline {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  animation: fadeInOut 5s ease infinite; /* 3s duration, ease timing function, infinite loop */
}

/* Add a dark green background color to the top navigation */
.topnav {
  width: 100%;
  background-color: #154734;
  overflow: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 16.6px;
  text-decoration: none;
  font-size: 17px;
  width: 31%;
  text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
  transition: all 0.3s ease;
}

footer {
  background-color: #0c452f;
  padding: 0.8em;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5em;
  z-index: 999;
}

@keyframes slideIn {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}


